@namespace BlazorServerExample.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorServerExample</title>
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link href="_content/Blazing.ToggleSwitch.Blazor/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
